alert #box {
	background: #333;
	width: 100;
	height: 100;
	background-alpha: 1;
}

alert #box #icon {
	align: middle middle;
}

alert flow {
	/*width: 300;
	height: 100;*/
	layout: horizontal;
	background: #888;
	background-alpha: 0.8;
	fill-width: true;
}

alert button {
	width: 100;
	height: 100;
	background: #555;
}

alert button:hover {
	background: #48a;
}

alert #btn-wrapper {
	fill-width: false;
	align: right middle;
}

alert text {
	align: middle middle;
	color: #fff;
}

alert #text-wrapper {
	padding: 10;
	width: 700;
	align: right middle;
	background: transparent;
}

button.highlight {
	background: #a33;
}

button text {
	align: middle middle;
}